<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>가격</th>
                <th>할부개월</th>
                <th>사용자</th>
                <th>총가격</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <td>1</td>
                <td>세랭게티</td>
                <td>100000</td>
                <td>3</td>
                <td>사용자</td>
                <td>총가격</td>
<!--            <tr th:each="item : ${cartItems}">-->
<!--                <td th:text="${item.getId()}"></td>-->
<!--                <td th:text="${item.getItem().getName()}"></td>-->
<!--                <td th:text="${item.getItem().getPrice()}"></td>-->
<!--                <td th:text="${item.getItem().getLoanCount()}"></td>-->
<!--                <td th:text="${member.getName()}"></td>-->
<!--                <td th:text="${totalPrice}"></td>-->
<!--                <td>-->
<!--                    <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}" class="btn btn-primary" role="button">수정</a>-->
<!--                </td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
