<body>
<div class="col-md-12">
  <h1>결제</h1>
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <input type="text" class ="form-control" id="Tram" placeholder="최종 결제금액">
        <button type="button" class="btn btn-primary" id="order">결제</button>
      </div>
    </form>
  </div>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
  var main = {
    init : function () {
      var _this = this;
      $('#order').on('click', function () {
        _this.order();
      });
    },
    order : function () {
      var Tram = $('#Tram').val();
      var data = {"Tram": Tram };
      $.ajax({
        type: 'POST',
        url: '/api/account/order',
        contentType:'application/json',
        data: JSON.stringify(data),
      }).done(function(res) {
          alert('이거야'+JSON.stringify(data));
      }).fail(function (error) {
        alert('실패'+JSON.stringify(error));
      });
    },
  };

  main.init();
</script>
</body>




